* { margin: 0; padding: 0; box-sizing: border-box; }

body { background-color: rgb(219, 219, 219); }

.container { margin: 0 auto; width: 1000px; }

.container section {
    background-color: aliceblue; margin: 20px 0;
    border-radius: 10px;
}

/* 검색 메뉴 */
.search_menu {
    height: 100px; padding: 10px;

}

.search_menu .search_bar {
    width: 50%; height: 80px;
    border: 1px solid rgb(150, 150, 150); border-radius: 40px;
    margin: 0 auto;
    display: flex; justify-content: space-around; align-items: center;
}

.search_menu .search_bar input {
    border: none;
    border-right: 1px solid rgb(74, 74, 74);
    font-size: 15pt;
    width: 150px; height: 40px; text-align: center;
}

.search_button {
    background-color: skyblue;
    border: none; width: 70px; height: 50px; border-radius: 25px;
    font-weight: 900; font-size: 15pt;
    cursor: pointer;
}

/*플레이어 메뉴*/
.player_menu {
    height: 130px; padding: 15px;
    display: flex;
}

.player_menu .player { display: flex; flex: 3;}
.player_menu .player .player img {width: 100px;}


.solo {flex: 2;}
.flex {flex: 2;}
.solo img {width: 75px;}
.flex img {width: 75px;}

/*20개 게임 요약 메뉴*/
.summary_menu {
    display: flex; justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.recode {flex: 1; border-right: 1px solid black;}
.lately_champion {flex: 1;}
.lately_postion {flex: 1;}

.lately_postion > div {
    display: flex;
    justify-content: space-evenly;
}

/**/
.game20_menu {padding: 20px; text-align: center;}
.game {display: flex; align-items: center; padding: 10px;}
.victory { background-color: rgb(192, 239, 255); border-left: 5px solid rgb(111, 255, 231);}
.defeat { background-color: rgb(255, 163, 163); border-left: 5px solid rgb(255, 139, 139);}

.mod {flex: 1;}
.champion {flex: 1;}
.champion img { width: 50px; }
.multikill {flex: 1;}
.rune {flex: 1;}
.rune img {width: 30px;}
.score {flex: 2;}
.score .KDA {font-size: 15pt; font-weight: 800;}
.score .death { color: red; }
.items {flex: 3;}
.items img { width: 25px; }
.users {flex: 3; display: flex; justify-content: space-between;}
